<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <env name="ID_FAKE" value="1"/>
        <env name="NOME_FAKE" value="Fake nome"/>
        <env name="CPF_FAKE" value="12345678910"/>
        <env name="EMAIL_FAKE" value="fake@fake.com"/>
        <env name="EMPRESA_FAKE" value="Empresa fake"/>
        <env name="PERFIL_FAKE" value="1"/>
        <env name="TELEFONE_FAKE" value="119565454514"/>
        <env name="EMAIL_VERIFICADO_FAKE" value="false"/>
        <env name="ACTIVE_FAKE" value="false"/>
        <env name="EMAIL_FAKE" value="fake@fake.com"/>
        <env name="PASSWORD" value="F@kePassword10!"/>
        <env name="APP_ENV" value="testing"/> 
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DATABASE" value="test"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
